<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lume | Your Digital Companion</title>
    <link rel="stylesheet" href="{{url_for( 'static',filename='css/main.css' )}}">
</head>
<body>
    <header>
        <div class="head1">
            <span class="logo">LUME</span>
            <a href="{{ url_for('profile') }}" style="text-decoration: none;"><img class="img" src="{{url_for( 'static',filename='images/user.jpg' )}}" alt="User Profile"></a>
        </div>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" style="text-decoration: none;">
                <div class="nav">Home</div>
            </a>
            <div class="div"></div>
            <a href="{{ url_for('about') }}" style="text-decoration: none;">
                <div class="nav">About</div>
            </a>
            <div class="div"></div>
            <a href="{{ url_for('contactus') }}" style="text-decoration: none;">
                <div class="nav">Contact Us</div>
            </a>
            <div class="div"></div>
            <a href="{{ url_for('contactus') }}" style="text-decoration: none;">
                <div class="nav">Need Help?</div>
            </a>
        </nav>
    </header>
    <main class="chat-box">
    <iframe src="{{ url_for('chat') }}" width="100%" height="100%" title="chat window" style="border: none;">
</iframe>
</main>
</body>
</html>