<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lume | Contact Us</title>
</head><br>
<span class="logo" >LUME</span> 
<body class="contact">
    <div class="nav-wrapper">
    <nav class="nav-pill">
        <a href="/" style="text-decoration: none;"><div class="nav-item">
            <span>Home</span>
        </div></a>
        
        <div class="divider"></div>
        
        <a href="/about" style="text-decoration: none;"><div  class="nav-item">
            <span>About</span>
        </div></a>
        
        <div class="divider"></div>
        
        <a href="/contactus" style="text-decoration: none;"><div class="nav-item">
            <span>Contact Us</span>
        </div></a>
    </nav>
</div>
<br><br><br><br>
<div class="mid">CONTACT US AT:</div>
<div class="midd1" style="margin-left: 40rem;">1: 9769108072</div>
<div class="midd1" style="margin-left: 40rem;">2: 7715040931 </div>
<div class="midd1" style="margin-left: 40rem;">3: 9619496911 </div>
<br>

</body>
</html>
